{%- if theme.busuanzi_count.enable and not theme.busuanzi_count.custom_api %}
  {%- if theme.vendors.busuanzi %}
  <script{{ pjax }} async src="{{ theme.vendors.busuanzi }}"></script>
  {%- else %}
  <script{{ pjax }} async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  {%- endif %}
{%- endif %}
